{% extends "base.html" %}
{% block content %}
<html lang="en">
  <div align="center">
    <div align="center" class="border">
      <head>
          <meta charset="UTF-8" />
          <title>File upload</title>
          
      </head>
      <body>
          <h1>Generate synthetic data from your dataset</h1>
          <hr>
          <p>
              {% with messages = get_flashed_messages() %}
                {% if messages %}
                  <ul class=flashes>
                  {% for message in messages %}
                    <li>{{ message }}</li>
                  {% endfor %}
                  </ul>
                {% endif %}
              {% endwith %}
          </p>

          <form action="/upload" method="POST" enctype="multipart/form-data">
            {{ form.csrf_token }}
              <p>Upload all csv files and the json description of the relationships:</p> <br> <br>
              {{form.files(multiple="multiple")}} 
              {{ form.dataset_name.label }} 
              {{form.dataset_name}} &emsp;
              {{ form.openess.label }} {{ form.openess(class="form-control") }} <br> <br>
              {{ form.description.label }}  {{form.description(rows=10, cols=30)}} <br> 
              <!-- <input type="string" name="description" placeholder="Dataset Name"> -->
              {{ form.submit }}
          </form>
          <br><br>
          {% if msg %}
             {{ msg }}
          {% endif %} 
          <br><br>
          For more information about the format of the json file, please refer to the <a href="documentation">documentation</a>.
      </body>
    </div>
  </div>
</html>
{% endblock %}